<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <title>DirectTourVR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- includes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.js"></script>
    <script src="javascripts/lib/Stats.js"></script>
    <script src="javascripts/lib/Detector.js"></script>
    <script src="javascripts/lib/THREEx/THREEx.WindowResize.js"></script>
    <script src="javascripts/lib/THREEx/THREEx.KeyboardState.js"></script>
    <script src="javascripts/lib/THREEx/THREEx.FullScreen.js"></script>
    
    <!-- For VR -->
    <script src="javascripts/lib/controls/OrbitControls.js"></script>
    <script src="javascripts/lib/controls/PointerLockControls.js"></script>
    <script src="javascripts/lib/controls/VRControls.js"></script>
    <script src="javascripts/lib/vr/WebVR.js"></script>
</head>

<body>
    <ul class="" id="controls">
        <li>
            <button title="Mouse" class="uiButton" id="mouseButton" onclick="switchMouse();"></button>
        </li>
    </ul>
    <audio id="sound" preload="none">
        <source src="assets/audio/win31.mp3" type="audio/mpeg">
    </audio>
    <script src="javascripts/scene.js"></script>
</body>

</html>